:root {
    --Red-700: #FF0033;
    --Black-500: #000000;
    --White-100: #FFFFFF;
    --gray-900: #3C4043;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-6: 1.5rem;

    --radius-md: 0.5rem;

    --shadow-1: 0 1px 3px rgba(0, 0, 0, .10);

    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-xl: 1.5rem;
    --text-3xl: 2.25rem;
}

:root {
    --color-bg: var(--White-100);
    --color-fg: var(--Black-500);
    --color-surface: var(--White-100;);
    --color-border: #64748B;
    --color-focus: var(--Red-700);
    --color-danger: #FF3333;
    ----color-focus: var(--Red-700);

    --card-pad: var(--space-4);
    --section-gap: var(--space-6);
}